{% extends 'base.html' %}
{% block content %}
<section class="section">
  <h3 class="title">Vaga(a): {{ job.name }}</h3>
  <div class="container">
    <div class="notification">
        {% for key,value in job.items %}
          <div class="control">
            <strong>{{ key|capfirst }}</strong> : {{ value }}
          </div>
        {% endfor %}
    </div>
  </div>
  {% if student %}
    <div class="control">
      <a class="button is-info" href="">Candidatar</a>
    </div>
  {% endif %}
</section>
{% endblock content %}
