{% extends 'base.html' %}
{% load templatefilters %}
{% block content %}
<section class="section">
  <h1 class="title">Cadastrar Novo Aluno</h1>
  <div class="container">
    <div class="notification">
      <form action="." method="POST">
        {% csrf_token %}
        {# Matrícula #}
        <div class="field">
          <label class="label">{{ form.registration.label }}</label>
          <div class="control">
            {{ form.registration|addclass:'input' }}
          </div>
          {% if form.registration.errors %}
            <p class="help is-danger">{{ form.registration.errors }}</p>
          {% endif %}
        </div>
        {# Nome #}
        <div class="field">
          <label class="label">{{ form.name.label }}</label>
          <div class="control">
            {{ form.name|addclass:'input' }}
          </div>
          {% if form.name.errors %}
            <p class="help is-danger">{{ form.name.errors }}</p>
          {% endif %}
        </div>
        {# E-Mail #}
        <div class="field">
          <label class="label">{{ form.email.label }}</label>
          <div class="control">
            {# <input class="input" type="email" placeholder="E-Mail"> #}
            {{ form.email|addtype:'email' }}
            {% if form.email.errors %}
              <p class="help is-danger">O e-mail digitado é inválido.</p>
            {% endif %}
          </div>
        </div>
        {# Nome de Usuário #}
        <div class="field">
          <label class="label">{{ form.username.label }}</label>
            {{ form.username|addclass:'input' }}
          {% if form.username.errors %}
            <p class="help is-danger">{{ form.username.errors }}</p>
          {% endif %}
        </div>
        {# Senha 1 #}
        <div class="field">
          <label class="label">{{ form.password1.label }}</label>
            {{ form.password1|addclass:'input' }}
          {% if form.password1.errors %}
            <p class="help is-danger">{{ form.password1.errors }}</p>
          {% endif %}
        </div>
        {# Senha 2 #}
        <div class="field">
          <label class="label">{{ form.password2.label }}</label>
            {{ form.password2|addclass:'input' }}
          {% if form.password2.errors %}
            <p class="help is-danger">{{ form.password2.errors }}</p>
          {% endif %}
        </div>
        {# Telefone #}
        <div class="field">
          <label class="label">{{ form.phone.label }}</label>
          <div class="control">
            {{ form.phone|addclass:'input' }}
          </div>
          {% if form.phone.errors %}
            <p class="help is-danger">{{ form.phone.errors }}</p>
          {% endif %}
        </div>
        {# Endereço #}
        <div class="field">
          <label class="label">{{ form.address.label }} </label>
          <div class="control">
            {{ form.address|addclass:'input' }}
          </div>
          {% if form.address.errors %}
            <p class="help is-danger">{{ form.address.errors }}</p>
          {% endif %}
        </div>
        {# CPF #}
        <div class="field">
          <label class="label">{{ form.cpf.label }}</label>
          <div class="control">
            {{ form.cpf|addclass:'input' }}
          </div>
          {% if form.cpf.errors %}
            <p class="help is-danger">O CPF digitado é inválido.</p>
          {% endif %}
        </div>
        <h2 class="title">--</h2>
        {# Curso #}
        <div class="field">
          <label class="label">{{ form.course.label }}</label>
          <div class="control">
            {{ form.course|addclass:'select is-info' }}
          </div>
        </div>
        {# Mini Bio #}
        <div class="field">
          <label class="label">{{ form.mini_bio.label }}</label>
          <div class="control">
            {{ form.mini_bio|addclass:'textarea' }}
          {% if form.mini_bio.errors %}
            <p class="help is-danger">{{ form.mini_bio.errors }}</p>
          {% endif %}
          </div>
        </div>
        {# data nascimento #}
        <div class="field">
          <label class="label">{{ form.birth_date.label }}</label>
          <div class="control">
            {{ form.birth_date|addclass:'input' }}
          </div>
          <p class="help">Formato: 2000-01-30 </p>
          {% if form.birth_date.errors %}
            <p class="help is-danger">{{ form.birth_date.errors }}</p>
          {% endif %}
        </div>
        {# currículo #}
        <div class="field">
          <label class="label">{{ form.resume.label }}</label>
          <div class="control">
            {{ form.resume|addtype:'file' }}
          </div>
          {% if form.resume.errors %}
            <p class="help is-danger">{{ form.resume.errors }}</p>
          {% endif %}
        </div>
        {# competencias #}
        <div class="field">
          <label class="label">{{ form.competences.label }}</label>
          <div class="control">
            {{ form.competences|addclass:'input' }}
          </div>
           <p class="help">Digite suas competências separadas por espaço. Ex: "Python Java Ansible"</p>
          {% if form.competences.errors %}
            <p class="help is-danger">{{ form.competences.errors }}</p>
          {% endif %}
        </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">Cadastrar</button>
          </div>
          <div class="control">
            <a href="{% url 'coordinators_home' %}" class="button is-text">Cancelar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
