{% extends 'base.html' %}
{% block content %}
<section class="section">
  <h1 class="title"> Alunos Cadastrados </h1>
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <th> Nome </th>
      <th> Matrícula </th>
      <th> E-Mail</th>
      <th> Curso </th>
      <th> Data de Cadastro </th>
    </thead>
    <tbody>
      {% for s in students %}
        <tr>
          <td><a href="{% url 'students_get' s.id %}">{{ s.name }}</a></td>
          <td>{{ s.register }}</td>
          <td>{{ s.email }}</td>
          <td>{{ s.course }}</td>
          <td>{{ s.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock content %}
