{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}PyIntern{% endblock title %}</title>
     <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
  </head>
  <body>
    {% if user.is_authenticated %}
      <div class="navbar is-info">
        <div class="navbar-brand">
          <a class="navbar-item">PyIntern - UFF</a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <a href={% url 'logout' %} class="button is-info is-inverted"> Logout </a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% block content %}
    {% endblock content %}
  </body>
</html>
