{% extends 'base.html' %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title"> Bem-Vindo, {{ user }}</h1>
  </div>
  <br/>
  <aside class="menu">
    <p class="menu-label"> Alunos </p>
    <ul class="menu-list">
      <li><a>Aprovar Cadastro</a></li>
      <li><a>Consultar</a></li>
      <li><a>Editar</a></li>
    </ul>
    <p class="menu-label">Empresas</p>
    <ul class="menu-list">
      <li><a>Aprovar Cadastro</a></li>
      <li><a>Consultar</a></li>
      <li><a>Editar</a></li>
    </ul>
    <p class="menu-label">Coordenadores</p>
    <ul class="menu-list">
      <li><a href="{% url 'list_coordinators' %}">Consultar</a></li>
      <li><a>Cadastrar</a></li>
    </ul>
  </aside>
</section>
{% endblock content %}
